In [1]:
import numpy as np
import pandas as pd     #importing required libraries
import chardet

In [2]:
credits = pd.read_csv('credits.csv')       #loading credits into dataframe

C:\Users\mahes\AppData\Local\Temp\ipykernel_32156\90157498.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694) have mixed types. Specify dtype option on import or set low_memory=False.
  credits = pd.read_csv('credits.csv')       #loading credits into dataframe

In [3]:
movies = pd.read_csv('movies_metadata.csv')  #loading movies into dataframe

In [4]:
movies.shape

(45466, 6)

In [5]:
credits.shape

(45504, 1696)

In [6]:
selected_columns = ['cast', 'crew','movieid']
credits = credits[selected_columns]

In [7]:
credits.shape

(45504, 3)

In [8]:
imp = pd.read_csv('impwords.csv')  #loading movies into dataframe

In [9]:
imp.shape

(46419, 2)

In [10]:
movies.shape

(45466, 6)

In [11]:
movies.isnull().sum()

genres              0
movieid             0
original_title      0
overview          954
release_date       87
title               6
dtype: int64

In [12]:
movies.dropna(inplace=True) #now we are dropping the empty cells in which we have no use

In [13]:
movies.isnull().sum()

genres            0
movieid           0
original_title    0
overview          0
release_date      0
title             0
dtype: int64

In [14]:
movies.shape

(44435, 6)

In [15]:
credits.dropna(inplace=True) #now we are dropping the empty cells in which we have no use

In [16]:
credits.shape

(45475, 3)

In [17]:
imp.dropna(inplace=True) #now we are dropping the empty cells in which we have no use

In [18]:
imp.shape

(46419, 2)

In [19]:
movies.isnull().sum()

genres            0
movieid           0
original_title    0
overview          0
release_date      0
title             0
dtype: int64

In [20]:
imp.isnull().sum()

movieid     0
keywords    0
dtype: int64

In [21]:
credits.isnull().sum()

cast       0
crew       0
movieid    0
dtype: int64

In [22]:
# Assuming 'movieid' column in both DataFrames has mismatched types
imp['movieid'] = imp['movieid'].astype(str)  # Convert to 'object' type (string)

# Now perform the merge
movies = movies.merge(imp, on='movieid')

In [23]:
movies.shape

(45412, 7)

In [24]:
movies.isnull().sum()

genres            0
movieid           0
original_title    0
overview          0
release_date      0
title             0
keywords          0
dtype: int64

In [25]:
credits.isnull().sum()

cast       0
crew       0
movieid    0
dtype: int64

In [26]:
credits.shape

(45475, 3)

In [27]:
movies.shape

(45412, 7)

In [28]:
merged_df = pd.merge(credits, movies, on='movieid')

In [29]:
merged_df.shape

(11051, 9)

In [30]:
credits = credits.dropna(subset=['movieid'])
movies = movies.dropna(subset=['movieid'])

In [31]:
credits['movieid'] = credits['movieid'].astype(str).str.strip()
movies['movieid'] = movies['movieid'].astype(str).str.strip()

In [32]:
up_df = pd.merge(credits, movies, on='movieid')

In [33]:
up_df.shape           #remember up_df is the main data frame upto now

(45530, 9)

In [34]:
up_df.head()

,cast,crew,movieid,genres,original_title,overview,release_date,title,keywords
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story,"Led by Woody, Andy's toys live happily in his ...",30-10-1995,Toy Story,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji,When siblings Judy and Peter discover an encha...,15-12-1995,Jumanji,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men,A family wedding reignites the ancient feud be...,22-12-1995,Grumpier Old Men,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",22-12-1995,Waiting to Exhale,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II,Just when George Banks has recovered from his ...,10-02-1995,Father of the Bride Part II,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [35]:
import ast

In [36]:
def conv(var):
    return [i['name'] for i in ast.literal_eval(var)]          #we are converting the given data into list

In [37]:
up_df['genres'] = up_df['genres'].apply(conv)
up_df.head()                                       #adding converted data to generes

,cast,crew,movieid,genres,original_title,overview,release_date,title,keywords
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[Animation, Comedy, Family]",Toy Story,"Led by Woody, Andy's toys live happily in his ...",30-10-1995,Toy Story,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[Adventure, Fantasy, Family]",Jumanji,When siblings Judy and Peter discover an encha...,15-12-1995,Jumanji,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[Romance, Comedy]",Grumpier Old Men,A family wedding reignites the ancient feud be...,22-12-1995,Grumpier Old Men,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[Comedy, Drama, Romance]",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",22-12-1995,Waiting to Exhale,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,[Comedy],Father of the Bride Part II,Just when George Banks has recovered from his ...,10-02-1995,Father of the Bride Part II,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [38]:
up_df['keywords'] = up_df['keywords'].apply(conv)
up_df.head()                                       #adding converted data to generes

,cast,crew,movieid,genres,original_title,overview,release_date,title,keywords
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[Animation, Comedy, Family]",Toy Story,"Led by Woody, Andy's toys live happily in his ...",30-10-1995,Toy Story,"[jealousy, toy, boy, friendship, friends, riva..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[Adventure, Fantasy, Family]",Jumanji,When siblings Judy and Peter discover an encha...,15-12-1995,Jumanji,"[board game, disappearance, based on children'..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[Romance, Comedy]",Grumpier Old Men,A family wedding reignites the ancient feud be...,22-12-1995,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[Comedy, Drama, Romance]",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",22-12-1995,Waiting to Exhale,"[based on novel, interracial relationship, sin..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,[Comedy],Father of the Bride Part II,Just when George Banks has recovered from his ...,10-02-1995,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug..."

In [39]:
def fetchthedirector(var):
    L = []
    for i in ast.literal_eval(var):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [40]:
up_df['crew'] = up_df['crew'].apply(fetchthedirector)
up_df.head()

,cast,crew,movieid,genres,original_title,overview,release_date,title,keywords
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...",[John Lasseter],862,"[Animation, Comedy, Family]",Toy Story,"Led by Woody, Andy's toys live happily in his ...",30-10-1995,Toy Story,"[jealousy, toy, boy, friendship, friends, riva..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...",[Joe Johnston],8844,"[Adventure, Fantasy, Family]",Jumanji,When siblings Judy and Peter discover an encha...,15-12-1995,Jumanji,"[board game, disappearance, based on children'..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...",[Howard Deutch],15602,"[Romance, Comedy]",Grumpier Old Men,A family wedding reignites the ancient feud be...,22-12-1995,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...",[Forest Whitaker],31357,"[Comedy, Drama, Romance]",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",22-12-1995,Waiting to Exhale,"[based on novel, interracial relationship, sin..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...",[Charles Shyer],11862,[Comedy],Father of the Bride Part II,Just when George Banks has recovered from his ...,10-02-1995,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug..."

In [41]:
up_df.head()

,cast,crew,movieid,genres,original_title,overview,release_date,title,keywords
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...",[John Lasseter],862,"[Animation, Comedy, Family]",Toy Story,"Led by Woody, Andy's toys live happily in his ...",30-10-1995,Toy Story,"[jealousy, toy, boy, friendship, friends, riva..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...",[Joe Johnston],8844,"[Adventure, Fantasy, Family]",Jumanji,When siblings Judy and Peter discover an encha...,15-12-1995,Jumanji,"[board game, disappearance, based on children'..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...",[Howard Deutch],15602,"[Romance, Comedy]",Grumpier Old Men,A family wedding reignites the ancient feud be...,22-12-1995,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...",[Forest Whitaker],31357,"[Comedy, Drama, Romance]",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",22-12-1995,Waiting to Exhale,"[based on novel, interracial relationship, sin..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...",[Charles Shyer],11862,[Comedy],Father of the Bride Part II,Just when George Banks has recovered from his ...,10-02-1995,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug..."

In [42]:
  # Import the ast module for literal_eval

# Assuming up_df is your existing DataFrame with a 'cast' column

# Convert string representations to dictionaries using ast.literal_eval
up_df['cast'] = up_df['cast'].apply(ast.literal_eval)

# Function to extract the top 3 cast members for a given row
def extract_top3_cast(row):
    # Sorting the cast list based on the 'order' key
    sorted_cast = sorted(row, key=lambda x: x.get('order', 0))
    # Extracting the information for the top 3 cast members
    top3_cast_info = sorted_cast[:3]
    return top3_cast_info

# Applying the function to the 'cast' column to create a new column 'top3_cast'
up_df['top3_cast'] = up_df['cast'].apply(extract_top3_cast)

# Displaying the resulting DataFrame
print(up_df[['cast', 'top3_cast']])

                                                    cast  \
0      [{'cast_id': 14, 'character': 'Woody (voice)',...
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3      [{'cast_id': 1, 'character': 'Savannah 'Vannah...
4      [{'cast_id': 1, 'character': 'George Banks', '...
...                                                  ...
45525  [{'cast_id': 1, 'character': 'Sir Robert Hode'...
45526  [{'cast_id': 1002, 'character': 'Sister Angela...
45527  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
45528  [{'cast_id': 2, 'character': '', 'credit_id': ...
45529                                                 []

                                               top3_cast
0      [{'cast_id': 14, 'character': 'Woody (voice)',...
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3      [{'cast_id': 1, 'character': 'Savannah 'Vannah...
4      [{'cast_id': 1, 'character': 'George Banks', '...
...                                                  ...
45525  [{'cast_id': 1, 'character': 'Sir Robert Hode'...
45526  [{'cast_id': 1002, 'character': 'Sister Angela...
45527  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
45528  [{'cast_id': 2, 'character': '', 'credit_id': ...
45529                                                 []

[45530 rows x 2 columns]

In [43]:
up_df.head()

,cast,crew,movieid,genres,original_title,overview,release_date,title,keywords,top3_cast
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...",[John Lasseter],862,"[Animation, Comedy, Family]",Toy Story,"Led by Woody, Andy's toys live happily in his ...",30-10-1995,Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[{'cast_id': 14, 'character': 'Woody (voice)',..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...",[Joe Johnston],8844,"[Adventure, Fantasy, Family]",Jumanji,When siblings Judy and Peter discover an encha...,15-12-1995,Jumanji,"[board game, disappearance, based on children'...","[{'cast_id': 1, 'character': 'Alan Parrish', '..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...",[Howard Deutch],15602,"[Romance, Comedy]",Grumpier Old Men,A family wedding reignites the ancient feud be...,22-12-1995,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o...","[{'cast_id': 2, 'character': 'Max Goldman', 'c..."
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...",[Forest Whitaker],31357,"[Comedy, Drama, Romance]",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",22-12-1995,Waiting to Exhale,"[based on novel, interracial relationship, sin...","[{'cast_id': 1, 'character': 'Savannah 'Vannah..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...",[Charles Shyer],11862,[Comedy],Father of the Bride Part II,Just when George Banks has recovered from his ...,10-02-1995,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug...","[{'cast_id': 1, 'character': 'George Banks', '..."

In [44]:
def conve4(var):
    L = []
    counter = 0 
    
    for i in var:
        if counter < 3:
            L.append(i['name'])
            counter += 1
            
    return L

In [45]:
 up_df['top3_cast'] = up_df['top3_cast'].apply(conve4)
 up_df.head()

,cast,crew,movieid,genres,original_title,overview,release_date,title,keywords,top3_cast
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...",[John Lasseter],862,"[Animation, Comedy, Family]",Toy Story,"Led by Woody, Andy's toys live happily in his ...",30-10-1995,Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]"
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...",[Joe Johnston],8844,"[Adventure, Fantasy, Family]",Jumanji,When siblings Judy and Peter discover an encha...,15-12-1995,Jumanji,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]"
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...",[Howard Deutch],15602,"[Romance, Comedy]",Grumpier Old Men,A family wedding reignites the ancient feud be...,22-12-1995,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret]"
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...",[Forest Whitaker],31357,"[Comedy, Drama, Romance]",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",22-12-1995,Waiting to Exhale,"[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devine]"
4,"[{'cast_id': 1, 'character': 'George Banks', '...",[Charles Shyer],11862,[Comedy],Father of the Bride Part II,Just when George Banks has recovered from his ...,10-02-1995,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short]"

In [46]:
up_df.drop(columns=['cast'], inplace=True)
up_df.head()

,crew,movieid,genres,original_title,overview,release_date,title,keywords,top3_cast
0,[John Lasseter],862,"[Animation, Comedy, Family]",Toy Story,"Led by Woody, Andy's toys live happily in his ...",30-10-1995,Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]"
1,[Joe Johnston],8844,"[Adventure, Fantasy, Family]",Jumanji,When siblings Judy and Peter discover an encha...,15-12-1995,Jumanji,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]"
2,[Howard Deutch],15602,"[Romance, Comedy]",Grumpier Old Men,A family wedding reignites the ancient feud be...,22-12-1995,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret]"
3,[Forest Whitaker],31357,"[Comedy, Drama, Romance]",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",22-12-1995,Waiting to Exhale,"[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devine]"
4,[Charles Shyer],11862,[Comedy],Father of the Bride Part II,Just when George Banks has recovered from his ...,10-02-1995,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short]"

In [47]:
up_df['overview'] = up_df['overview'].apply(lambda x:x.split())
 #converting overview into list using lamda function

In [48]:
up_df.head()

,crew,movieid,genres,original_title,overview,release_date,title,keywords,top3_cast
0,[John Lasseter],862,"[Animation, Comedy, Family]",Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...",30-10-1995,Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]"
1,[Joe Johnston],8844,"[Adventure, Fantasy, Family]",Jumanji,"[When, siblings, Judy, and, Peter, discover, a...",15-12-1995,Jumanji,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]"
2,[Howard Deutch],15602,"[Romance, Comedy]",Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...",22-12-1995,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret]"
3,[Forest Whitaker],31357,"[Comedy, Drama, Romance]",Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ...",22-12-1995,Waiting to Exhale,"[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devine]"
4,[Charles Shyer],11862,[Comedy],Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...",10-02-1995,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short]"

In [49]:
up_df['tags'] = up_df['overview'] + up_df['genres'] + up_df['keywords'] + up_df['top3_cast'] + up_df['crew']#merging them into one

In [50]:
up_df.shape

(45530, 10)

In [51]:
up_df.head()

,crew,movieid,genres,original_title,overview,release_date,title,keywords,top3_cast,tags
0,[John Lasseter],862,"[Animation, Comedy, Family]",Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...",30-10-1995,Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]","[Led, by, Woody,, Andy's, toys, live, happily,..."
1,[Joe Johnston],8844,"[Adventure, Fantasy, Family]",Jumanji,"[When, siblings, Judy, and, Peter, discover, a...",15-12-1995,Jumanji,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[When, siblings, Judy, and, Peter, discover, a..."
2,[Howard Deutch],15602,"[Romance, Comedy]",Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...",22-12-1995,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret]","[A, family, wedding, reignites, the, ancient, ..."
3,[Forest Whitaker],31357,"[Comedy, Drama, Romance]",Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ...",22-12-1995,Waiting to Exhale,"[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devine]","[Cheated, on,, mistreated, and, stepped, on,, ..."
4,[Charles Shyer],11862,[Comedy],Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...",10-02-1995,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short]","[Just, when, George, Banks, has, recovered, fr..."

In [52]:
up_df['tags'] = up_df['tags'].apply(lambda x: " ".join(x))
up_df.head()

,crew,movieid,genres,original_title,overview,release_date,title,keywords,top3_cast,tags
0,[John Lasseter],862,"[Animation, Comedy, Family]",Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...",30-10-1995,Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]","Led by Woody, Andy's toys live happily in his ..."
1,[Joe Johnston],8844,"[Adventure, Fantasy, Family]",Jumanji,"[When, siblings, Judy, and, Peter, discover, a...",15-12-1995,Jumanji,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",When siblings Judy and Peter discover an encha...
2,[Howard Deutch],15602,"[Romance, Comedy]",Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...",22-12-1995,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret]",A family wedding reignites the ancient feud be...
3,[Forest Whitaker],31357,"[Comedy, Drama, Romance]",Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ...",22-12-1995,Waiting to Exhale,"[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devine]","Cheated on, mistreated and stepped on, the wom..."
4,[Charles Shyer],11862,[Comedy],Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...",10-02-1995,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short]",Just when George Banks has recovered from his ...

In [53]:
new_df = up_df[[  'movieid', 'title',  'tags']]

In [54]:
new_df.head()

,movieid,title,tags
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...

In [55]:
new_df.shape

(45530, 3)

In [56]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\mahes\AppData\Local\Temp\ipykernel_32156\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [57]:
new_df['title'] = new_df['title'].apply(lambda x:x.lower())

C:\Users\mahes\AppData\Local\Temp\ipykernel_32156\1131642681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['title'] = new_df['title'].apply(lambda x:x.lower())

In [58]:
new_df.shape
new_df.head()

,movieid,title,tags
0,862,toy story,"led by woody, andy's toys live happily in his ..."
1,8844,jumanji,when siblings judy and peter discover an encha...
2,15602,grumpier old men,a family wedding reignites the ancient feud be...
3,31357,waiting to exhale,"cheated on, mistreated and stepped on, the wom..."
4,11862,father of the bride part ii,just when george banks has recovered from his ...

In [59]:
new_df.shape

(45530, 3)

In [60]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
nltk.download('punkt')
nltk.download('wordnet')

lemmatizer = WordNetLemmatizer()

def lemmatize(text):
    words = word_tokenize(text)
    lemmatized_words = [lemmatizer.lemmatize(word) for word in words]
    return " ".join(lemmatized_words)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mahes\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\mahes\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [61]:
new_df['tags'] = new_df['tags'].apply(lemmatize)

C:\Users\mahes\AppData\Local\Temp\ipykernel_32156\3116468697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lemmatize)

In [62]:
new_df.head()

,movieid,title,tags
0,862,toy story,"led by woody , andy 's toy live happily in his..."
1,8844,jumanji,when sibling judy and peter discover an enchan...
2,15602,grumpier old men,a family wedding reignites the ancient feud be...
3,31357,waiting to exhale,"cheated on , mistreated and stepped on , the w..."
4,11862,father of the bride part ii,just when george bank ha recovered from his da...

In [63]:
import re

def remove_noise(text):
    # Remove HTML tags
    text = re.sub(r'<.*?>', '', text)
    
    # Remove punctuation and other non-alphabetic characters
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    
    return text

In [64]:
new_df['tags'] = new_df['tags'].apply(remove_noise)

C:\Users\mahes\AppData\Local\Temp\ipykernel_32156\3968079408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(remove_noise)

In [65]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')

def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    words = word_tokenize(text)
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return " ".join(filtered_words)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mahes\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mahes\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [66]:
new_df['tags'] = new_df['tags'].apply(remove_stopwords)

C:\Users\mahes\AppData\Local\Temp\ipykernel_32156\173525116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(remove_stopwords)

In [67]:
new_df.head()

,movieid,title,tags
0,862,toy story,led woody andy toy live happily room andy birt...
1,8844,jumanji,sibling judy peter discover enchanted board ga...
2,15602,grumpier old men,family wedding reignites ancient feud nextdoor...
3,31357,waiting to exhale,cheated mistreated stepped woman holding breat...
4,11862,father of the bride part ii,george bank ha recovered daughter wedding rece...

In [68]:
from nltk.corpus import wordnet
from nltk.tokenize import word_tokenize

def replace_negations(words):
    for i in range(len(words)):
        if words[i] == 'not' and i + 1 < len(words):
            antonym = wordnet.morphy(words[i + 1], wordnet.ADJ)
            if antonym:
                words[i + 1] = antonym
    return words

# Apply the function to each row of the 'tags' column
new_df['tags'] = new_df['tags'].apply(lambda x: replace_negations(x) if isinstance(x, list) else x)

C:\Users\mahes\AppData\Local\Temp\ipykernel_32156\3842531888.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: replace_negations(x) if isinstance(x, list) else x)

In [69]:
new_df.head()

,movieid,title,tags
0,862,toy story,led woody andy toy live happily room andy birt...
1,8844,jumanji,sibling judy peter discover enchanted board ga...
2,15602,grumpier old men,family wedding reignites ancient feud nextdoor...
3,31357,waiting to exhale,cheated mistreated stepped woman holding breat...
4,11862,father of the bride part ii,george bank ha recovered daughter wedding rece...

In [72]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix, vstack
import pandas as pd

# Assuming 'new_df' is your DataFrame containing the text data in the 'tags' column

# Initialize CountVectorizer with the desired parameters
vectorizer = CountVectorizer()

# Fit the vectorizer to your text data (without transforming to dense matrix)
vectorizer.fit(new_df['tags'])

# Function to transform text data to sparse matrix in chunks
def transform_to_sparse_matrix(data, vectorizer, chunk_size=1000):
    matrices = []
    for i in range(0, len(data), chunk_size):
        X_chunk = vectorizer.transform(data[i:i+chunk_size])
        matrices.append(X_chunk)
    return vstack(matrices)

# Transform text data to sparse matrix in chunks
X = transform_to_sparse_matrix(new_df['tags'], vectorizer)

# Calculate cosine similarity matrix
cosine_sim = cosine_similarity(X, X)

# Function to recommend top N movies
def recommend_top_movies(movie_title, top_n):
    idx = new_df[new_df['title'] == movie_title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:top_n+1]  # Adjusted to take top_n movies excluding itself
    movie_indices = [i[0] for i in sim_scores]
    return new_df['title'].iloc[movie_indices]

# Prompt user to enter movie title and number of movies to recommend
movie_title = input("Enter the movie title: ")
top_n = int(input("Enter the number of movies to recommend: "))

# Recommend top n movies similar to the entered movie title
recommended_movies = recommend_top_movies(movie_title, top_n)
print("Recommended Movies:")
for movie in recommended_movies:
    print(movie)

MemoryError: Unable to allocate 5.05 GiB for an array with shape (1356238794,) and data type int32