In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Embedding, Flatten, Multiply, Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.regularizers import l2

In [2]:
user_movie_ratings = pd.io.parsers.read_csv('ratings.dat', 
    names=['user_id', 'movie_id', 'rating', 'time'],
    engine='python', delimiter='::')

In [3]:
user_movie_ratings.drop(0, inplace=True)

In [4]:
# user_movie_ratings

user_movie_ratings['movie_id'] = user_movie_ratings['movie_id'].astype(int)
user_movie_ratings['user_id'] = user_movie_ratings['user_id'].astype(int)
user_movie_ratings = user_movie_ratings[['user_id', 'movie_id', 'rating']]
user_movie_ratings = user_movie_ratings.sort_values(by='movie_id')

user_movie_ratings

        user_id  movie_id  rating
502765     3087         1       5
746175     4452         1       5
438720     2681         1       5
637509     3840         1       5
637598     3841         1       2
...         ...       ...     ...
779010     4653      3952       3
2898         23      3952       4
992932     5998      3952       4
246126     1489      3952       2
256217     1563      3952       4

[1000208 rows x 3 columns]

In [5]:

try:
    movie_data = pd.io.parsers.read_csv('movies.dat',
                                        names=['movie_id', 'title', 'genre'],
                                        engine='python', delimiter='::', encoding='utf-8')
except UnicodeDecodeError:
    print("UTF-8 decoding failed. Trying with 'latin1' encoding.")
    movie_data = pd.io.parsers.read_csv('movies.dat',
                                        names=['movie_id', 'title', 'genre'],
                                        engine='python', delimiter='::', encoding='latin1')

movie_data['movie_id'] = movie_data['movie_id'].astype(int)
movie_data['title'] = movie_data['title'].astype(str)  # Ensure title column is string type
movie_data = movie_data.sort_values(by='movie_id')

movie_data['serial_number'] = range(1, len(movie_data) + 1)
movie_data['serial_number'] = movie_data['serial_number'].astype(int)
movie_data = movie_data[['movie_id', 'title', 'serial_number']]
movie_data


movie_data

UTF-8 decoding failed. Trying with 'latin1' encoding.

      movie_id                               title  serial_number
0            1                    Toy Story (1995)              1
1            2                      Jumanji (1995)              2
2            3             Grumpier Old Men (1995)              3
3            4            Waiting to Exhale (1995)              4
4            5  Father of the Bride Part II (1995)              5
...        ...                                 ...            ...
3878      3948             Meet the Parents (2000)           3879
3879      3949          Requiem for a Dream (2000)           3880
3880      3950                    Tigerland (2000)           3881
3881      3951             Two Family House (2000)           3882
3882      3952               Contender, The (2000)           3883

[3883 rows x 3 columns]

In [6]:
merged_df = pd.merge(user_movie_ratings, movie_data, on='movie_id', how='left')
merged_df = merged_df.dropna(subset=['title'])
merged_df = merged_df.dropna(subset=['movie_id'])
merged_df['serial_number'] = merged_df['serial_number'].astype(int)

merged_df

         user_id  movie_id  rating                  title  serial_number
0           3087         1       5       Toy Story (1995)              1
1           4452         1       5       Toy Story (1995)              1
2           2681         1       5       Toy Story (1995)              1
3           3840         1       5       Toy Story (1995)              1
4           3841         1       2       Toy Story (1995)              1
...          ...       ...     ...                    ...            ...
1000203     4653      3952       3  Contender, The (2000)           3883
1000204       23      3952       4  Contender, The (2000)           3883
1000205     5998      3952       4  Contender, The (2000)           3883
1000206     1489      3952       2  Contender, The (2000)           3883
1000207     1563      3952       4  Contender, The (2000)           3883

[1000208 rows x 5 columns]

In [7]:
user_movie_ratings = merged_df[['user_id', 'serial_number', 'rating']]
user_movie_ratings = user_movie_ratings.sort_values(by='serial_number')
# movie_data = merged_df[[ 'serial_number', 'title']]
# user_movie_ratings['movie_id'] = range(1, len(movie_data) + 1)

user_movie_ratings

         user_id  serial_number  rating
0           3087              1       5
1394         808              1       4
1393        4041              1       5
1392        5268              1       5
1391         692              1       5
...          ...            ...     ...
999943      3452           3883       4
999942      1487           3883       4
999941       531           3883       4
999963       151           3883       5
1000207     1563           3883       4

[1000208 rows x 3 columns]

In [8]:
movie_data = merged_df[[ 'serial_number', 'title']]
# duplicated_rows
movie_data = movie_data.drop_duplicates(subset='title', keep='first')
movie_data = movie_data.dropna(subset=['title'])

movie_data

        serial_number                               title
0                   1                    Toy Story (1995)
2077                2                      Jumanji (1995)
2778                3             Grumpier Old Men (1995)
3256                4            Waiting to Exhale (1995)
3426                5  Father of the Bride Part II (1995)
...               ...                                 ...
998560           3879             Meet the Parents (2000)
999422           3880          Requiem for a Dream (2000)
999726           3881                    Tigerland (2000)
999780           3882             Two Family House (2000)
999820           3883               Contender, The (2000)

[3706 rows x 2 columns]

In [9]:
movie_data['movie_id'] = range(1, len(movie_data) + 1)
merged_df = pd.merge(user_movie_ratings, movie_data, on='serial_number', how='left')
merged_df = merged_df.dropna(subset=['title'])



merged_df

         user_id  serial_number  rating                  title  movie_id
0           3087              1       5       Toy Story (1995)         1
1            808              1       4       Toy Story (1995)         1
2           4041              1       5       Toy Story (1995)         1
3           5268              1       5       Toy Story (1995)         1
4            692              1       5       Toy Story (1995)         1
...          ...            ...     ...                    ...       ...
1000203     3452           3883       4  Contender, The (2000)      3706
1000204     1487           3883       4  Contender, The (2000)      3706
1000205      531           3883       4  Contender, The (2000)      3706
1000206      151           3883       5  Contender, The (2000)      3706
1000207     1563           3883       4  Contender, The (2000)      3706

[1000208 rows x 5 columns]

In [10]:

merged_df['movie_id'] = merged_df['movie_id'].astype(int)
merged_df

         user_id  serial_number  rating                  title  movie_id
0           3087              1       5       Toy Story (1995)         1
1            808              1       4       Toy Story (1995)         1
2           4041              1       5       Toy Story (1995)         1
3           5268              1       5       Toy Story (1995)         1
4            692              1       5       Toy Story (1995)         1
...          ...            ...     ...                    ...       ...
1000203     3452           3883       4  Contender, The (2000)      3706
1000204     1487           3883       4  Contender, The (2000)      3706
1000205      531           3883       4  Contender, The (2000)      3706
1000206      151           3883       5  Contender, The (2000)      3706
1000207     1563           3883       4  Contender, The (2000)      3706

[1000208 rows x 5 columns]

In [11]:
user_movie_ratings = merged_df[['user_id', 'movie_id', 'rating']]   
user_movie_ratings = user_movie_ratings.sort_values(by='movie_id')
# movie_data = merged_df[[ 'serial_number', 'title']]
unique_serial_numbers = user_movie_ratings['movie_id'].nunique()
print("Number of unique serial number values:", unique_serial_numbers)
user_movie_ratings['rating'] = user_movie_ratings['rating'].astype(float)
user_movie_ratings['user_id'] = user_movie_ratings['user_id'].astype(int)

num_users = np.max(user_movie_ratings.user_id.values)
num_movies = unique_serial_numbers
non_zero_count = (user_movie_ratings['rating'] != 0).sum()
print(non_zero_count)
user_movie_ratings

Number of unique serial number values: 3706
1000208

         user_id  movie_id  rating
0           3087         1     5.0
1394        1998         1     5.0
1393         660         1     3.0
1392        4452         1     5.0
1391        2681         1     5.0
...          ...       ...     ...
999943      4653      3706     3.0
999942        23      3706     4.0
999941      4543      3706     3.0
999963      2122      3706     3.0
1000207     1563      3706     4.0

[1000208 rows x 3 columns]

In [12]:
movie_data = merged_df[['movie_id','title']]
movie_data = movie_data.drop_duplicates(subset='title', keep='first')
movie_data.to_csv('output.csv', index=False)  # Change 'output.csv' to the desired file path and nam
movie_data

        movie_id                               title
0              1                    Toy Story (1995)
2077           2                      Jumanji (1995)
2778           3             Grumpier Old Men (1995)
3256           4            Waiting to Exhale (1995)
3426           5  Father of the Bride Part II (1995)
...          ...                                 ...
998560      3702             Meet the Parents (2000)
999422      3703          Requiem for a Dream (2000)
999726      3704                    Tigerland (2000)
999780      3705             Two Family House (2000)
999820      3706               Contender, The (2000)

[3706 rows x 2 columns]

In [13]:
import tensorflow.keras as keras
from tensorflow.keras.layers import (
    Concatenate,
    Dense,
    Embedding,
    Flatten,
    Input,
    Multiply,
)
from tensorflow.keras.models import Model
from tensorflow.keras.regularizers import l2
from typing import List


def create_ncf(
    number_of_users: int,
    number_of_items: int,
    latent_dim_mf: int = 4,
    latent_dim_mlp: int = 32,
    reg_mf: int = 0,
    reg_mlp: int = 0.01,
    dense_layers: List[int] = [8, 4],
    reg_layers: List[int] = [0.01, 0.01],
    activation_dense: str = "relu",
) -> keras.Model:

    # input layer
    user = Input(shape=(1,), dtype="int32", name="user_id")
    item = Input(shape=(1,), dtype="int32", name="movie_id")

    # embedding layers
    mf_user_embedding = Embedding(
        input_dim=number_of_users,
        output_dim=latent_dim_mf,
        name="mf_user_embedding",
        embeddings_initializer="RandomNormal",
        embeddings_regularizer=l2(reg_mf),
    )

    mf_item_embedding = Embedding(
        input_dim=number_of_items,
        output_dim=latent_dim_mf,
        name="mf_item_embedding",
        embeddings_initializer="RandomNormal",
        embeddings_regularizer=l2(reg_mf),
    )

    mlp_user_embedding = Embedding(
        input_dim=number_of_users,
        output_dim=latent_dim_mlp,
        name="mlp_user_embedding",
        embeddings_initializer="RandomNormal",
        embeddings_regularizer=l2(reg_mlp),
    )
    mlp_item_embedding = Embedding(
        input_dim=number_of_items,
        output_dim=latent_dim_mlp,
        name="mlp_item_embedding",
        embeddings_initializer="RandomNormal",
        embeddings_regularizer=l2(reg_mlp),
    )

    # MF vector
    mf_user_latent = Flatten()(mf_user_embedding(user))
    mf_item_latent = Flatten()(mf_item_embedding(item))
    mf_cat_latent = Multiply()([mf_user_latent, mf_item_latent])

    # MLP vector
    mlp_user_latent = Flatten()(mlp_user_embedding(user))
    mlp_item_latent = Flatten()(mlp_item_embedding(item))
    mlp_cat_latent = Concatenate()([mlp_user_latent, mlp_item_latent])

    mlp_vector = mlp_cat_latent

    # build dense layers for model
    for i in range(len(dense_layers)):
        layer = Dense(
            dense_layers[i],
            activity_regularizer=l2(reg_layers[i]),
            activation=activation_dense,
            name="layer%d" % i,
        )
        mlp_vector = layer(mlp_vector)

    predict_layer = Concatenate()([mf_cat_latent, mlp_vector])

    result = Dense(
        1, activation="sigmoid", kernel_initializer="lecun_uniform", name="rating"
    )

    output = result(predict_layer)

    model = Model(
        inputs=[user, item],
        outputs=[output],
    )

    return model

In [14]:
# collapse
from tensorflow.keras.optimizers import Adam
ratings_mat = np.ndarray(
    shape = (np.max(user_movie_ratings.user_id.values),np.max(user_movie_ratings.movie_id.values))
)
ratings_mat[user_movie_ratings.user_id.values-1, user_movie_ratings.movie_id.values-1] = user_movie_ratings.rating.values


n_users, n_items = ratings_mat.shape
ncf_model = create_ncf(n_users, n_items)

ncf_model.compile(
    optimizer=Adam(), 
    loss="binary_crossentropy",
    metrics=[
        tf.keras.metrics.TruePositives(name="tp"),
        tf.keras.metrics.FalsePositives(name="fp"),
        tf.keras.metrics.TrueNegatives(name="tn"),
        tf.keras.metrics.FalseNegatives(name="fn"),
        tf.keras.metrics.BinaryAccuracy(name="accuracy"),
        tf.keras.metrics.Precision(name="precision"),
        tf.keras.metrics.Recall(name="recall"),
        tf.keras.metrics.AUC(name="auc"),
    ],
)
ncf_model._name = "neural_collaborative_filtering"
ncf_model.summary()

Model: "functional_1"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ user_id             │ (None, 1)         │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ movie_id            │ (None, 1)         │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ mlp_user_embedding  │ (None, 1, 32)     │    193,280 │ user_id[0][0]     │
│ (Embedding)         │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ mlp_item_embedding  │ (None, 1, 32)     │    118,592 │ movie_id[0][0]    │
│ (Embedding)         │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ flatten_2 (Flatten) │ (None, 32)        │          0 │ mlp_user_embeddi… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ flatten_3 (Flatten) │ (None, 32)        │          0 │ mlp_item_embeddi… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ mf_user_embedding   │ (None, 1, 4)      │     24,160 │ user_id[0][0]     │
│ (Embedding)         │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ mf_item_embedding   │ (None, 1, 4)      │     14,824 │ movie_id[0][0]    │
│ (Embedding)         │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ concatenate         │ (None, 64)        │          0 │ flatten_2[0][0],  │
│ (Concatenate)       │                   │            │ flatten_3[0][0]   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ flatten (Flatten)   │ (None, 4)         │          0 │ mf_user_embeddin… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ flatten_1 (Flatten) │ (None, 4)         │          0 │ mf_item_embeddin… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ layer0 (Dense)      │ (None, 8)         │        520 │ concatenate[0][0] │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ multiply (Multiply) │ (None, 4)         │          0 │ flatten[0][0],    │
│                     │                   │            │ flatten_1[0][0]   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ layer1 (Dense)      │ (None, 4)         │         36 │ layer0[0][0]      │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ concatenate_1       │ (None, 8)         │          0 │ multiply[0][0],   │
│ (Concatenate)       │                   │            │ layer1[0][0]      │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ rating (Dense)      │ (None, 1)         │          9 │ concatenate_1[0]… │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 351,421 (1.34 MB)

 Trainable params: 351,421 (1.34 MB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# def make_tf_dataset(
#     df: pd.DataFrame,
#     targets: List[str],
#     val_split: float = 0.1,
#     batch_size: int = 512,
#     seed=42,
# ):
#     """Make TensorFlow dataset from Pandas DataFrame.
#     :param df: input DataFrame - only contains features and target(s)
#     :param targets: list of columns names corresponding to targets
#     :param val_split: fraction of the data that should be used for validation
#     :param batch_size: batch size for training
#     :param seed: random seed for shuffling data - `None` won't shuffle the data"""

#     n_val = round(df.shape[0] * val_split)
#     if seed:
#         # shuffle all the rows
#         x = df.sample(frac=1, random_state=seed).to_dict("series")
#     else:
#         x = df.to_dict("series")
#     y = dict()
#     for t in targets:
#         y[t] = x.pop(t)
#     ds = tf.data.Dataset.from_tensor_slices((x, y))

#     ds_val = ds.take(n_val).batch(batch_size)
#     ds_train = ds.skip(n_val).batch(batch_size)
#     return ds_train, ds_val

In [16]:
# ds_train, ds_val = make_tf_dataset(user_movie_ratings, ["rating"])

# # for features, targets in ds_val.take(1):  # Take one batch as an example
# #     print("Features:")
# #     print(features)
# #     print("Targets:")
# #     print(targets)

Features:
{'user_id': <tf.Tensor: shape=(512,), dtype=int32, numpy=
array([3017, 1181,  934,   48, 2554, 1146,  352, 1837, 5788, 5897, 2826,
       1667, 1791, 1982, 2942, 2901, 3130, 1448, 2131, 3539, 3876, 2899,
       2575,  560, 5313, 5357, 5246, 5941, 1924, 3259, 5699, 4310, 1600,
       5752,  534,  889, 4596, 1758, 2194, 4470, 3503, 1545, 2989, 1194,
       3591, 5910,  949, 4602, 4531, 2203, 1958,  891, 3490, 5367, 2744,
       5590, 5652,  543, 1749, 5747, 4359,  240, 4869, 2223,  352, 3916,
        550, 3087,  587, 2122, 4739, 1088,  125, 2566, 4523, 1680, 1392,
       4042, 3768, 2427, 3762, 2185, 5779,  798, 4736,  949, 1974,  386,
       4227, 1968, 1243, 4344, 4887, 1680, 1593, 1926, 2860, 2251,  176,
       3420, 1579, 1897, 5232, 2638, 1850, 3719, 3905,  520, 5608, 4491,
       2015, 4808,  352, 5000, 2665, 2888, 3154,  949, 1038, 4344, 1882,
        129,  996, 5812, 1676, 3519, 5480, 5406, 1962, 1955, 5793, 3996,
       5211, 4351, 1854, 2861, 6010, 3512, 1910, 2099, 1605, 2231, 2679,
       4928, 3101, 1313,  402, 5070, 4167, 3192, 5502,  613, 4728, 3705,
       3850, 5557, 4480, 5323,  674, 3540, 3724, 4942, 1241, 1598, 2634,
       2003, 4519, 1408, 1333, 4948, 5393, 1676, 5847, 1757, 4208, 4808,
       2507,  355, 3804, 3020,  166, 3140, 3607, 2249, 2889, 3931,  690,
       4343, 5136, 1667,  204,  442, 2692, 4785, 4433, 5812, 3821, 4368,
       5751, 4425, 2872, 1284, 4479, 2784, 4845, 4277, 4387, 4277, 3681,
       1418,  225, 5749, 5754,  791, 6025, 2841, 1008, 4933,  692, 4161,
       1258,   92,  556, 1722,  699, 4607, 3389,  111, 2427, 4488, 1391,
       2331, 5386, 4062, 2408, 3234, 1820,  702, 3121,  336, 1982, 4579,
       3260, 3147, 4323, 4854, 2063, 3320, 4294, 2969, 4150, 5324,  442,
       5831, 1521,  302, 4772, 2995, 3576, 1131, 2664, 1173, 5570, 3054,
       3112, 3311, 2446, 2863, 5367,  922, 2496, 3380, 1755, 5944, 3475,
       1322, 2290, 2205, 2793, 5040, 2173,  140,   36, 5475, 3311, 2874,
       3340, 1740, 4613, 5367, 2896, 4653, 4650, 2092,  817, 3963, 5838,
       2641, 3808, 2537,  881,  963, 1880, 4412, 1086, 3884, 3012,  889,
       2783, 2256, 3764, 4016, 1119, 1496, 2724, 5113, 5567, 3390,  559,
       5333, 3934, 3885, 5848,  801, 3836,  661, 2878,  174, 2913, 1029,
       1605,  923,   69, 1333, 1980, 1683, 1671,  869, 5745, 2389, 4732,
        588, 2427, 4451, 6025, 3916, 5647, 5302,  524, 3641,  123, 3929,
       3935, 3585,  623, 5029, 2962, 2043, 4851, 1912, 3647,  239, 2041,
        541, 2640, 1119, 5744, 4358,  444, 3984, 1737, 5795, 1645, 1230,
       1192, 1350, 2480, 3849, 4607,  333, 1112, 1298,   22, 1026, 3227,
       4889,  260, 4855, 3428,  430, 5165, 1449, 3331, 1877, 5306, 1955,
       6010, 4169, 5764,   26, 5550, 1928, 1850, 1060, 1265, 2232, 1000,
       3813, 1223,  859, 2419, 3610, 3272,  780, 3982,  731,  281, 3272,
       1605,  770, 5523, 3491, 1209, 2504, 5754, 2124, 4675,  710,  339,
       1365,  999, 4821,  749, 4708,  608, 4666, 2012, 1904, 4788, 3646,
       2491,  621,  296, 1051, 3574,   33, 3125, 5852, 2724, 3032, 2737,
       3823, 4169, 4506,  889, 1899, 4088,  850, 4217,  840, 3683, 2447,
        149, 2125, 3270, 1962, 5634, 1680,  169, 2377, 1650,  426, 2272,
       4021, 2865, 4447, 2824, 4663, 3231, 1649, 1409,  149, 1712, 1908,
       1343, 5482, 3884, 3269, 1265, 1680, 5325, 5094, 3389, 3157, 1941,
       3441, 3462, 2185, 1003, 2878, 5082, 4628, 3128, 2023,  396, 5969,
       5568, 5561, 1888, 2116, 3737, 2004])>, 'movie_id': <tf.Tensor: shape=(512,), dtype=int32, numpy=
array([3187, 3196,  200,  233, 2854, 2709, 1541, 1274, 2158, 3310, 2522,
       3511, 3489,  145, 3235,  461,  183,  458, 1775, 2676, 3476, 2742,
       1109, 1738,  880, 3015, 1537, 3000,   17,  225, 1784,  224, 1279,
       1144, 1143, 3462, 1849, 1108, 2284, 2820, 2186, 1486, 3482,  145,
        514, 2597,  933, 2786,  786, 3157,  737,  568, 3249, 1505, 2209,
       2652, 1567, 1960, 3204, 2808, 2512, 1745, 2400, 3445, 2137, 3651,
        496, 2204, 1964, 1140,  368,  484,  628, 3213, 3460,  351, 1421,
        705, 2148, 2514,  183,  538,   25, 2228,  864,  972, 3664, 2232,
        823, 3482,  852, 1269,  462, 1626,  202, 2524, 1834, 3466, 1283,
       3030, 1582, 2512, 1742, 3191, 1959, 1732, 3033, 2959,  848,  407,
       1552, 1827, 3342, 2222, 2657,  320, 1997,   93, 2369, 1013, 2899,
        295, 2714, 1835,  355, 3246, 1907,  574, 3281, 2241, 2524,    1,
       3217, 3457, 2506, 2519, 2780, 3239, 3060, 3179,    2, 2169,  579,
       2952,  784,  444, 1824, 2215,  703, 2308, 1586,  580,  348,  229,
       1132, 1139,  469, 2384, 1131, 2592,  225, 1461,   50,  714, 2308,
       1270,  864,   93, 1994, 1274, 3346,  421,  961,  427, 1849, 2281,
       3164, 1487, 1052, 2447, 1092, 3312, 1789, 2137,  760, 3510,  362,
       2111, 3234, 1151,  504, 2191, 2100, 2369, 3255, 2591, 3506, 1585,
       2481,  295, 3442, 3304, 2742, 3025, 1141,  543, 2839, 3297, 1372,
       2439, 3384,  467, 1824, 1901, 2661,  868, 2512, 1830, 2490,  140,
       1886, 1694, 1832, 2801, 3130, 2622,  539, 2483, 1067, 2889,  368,
       3187, 2404,  760,  224,  816, 1273, 2481, 3257, 1842, 1454, 2204,
        292,  371,  340, 1179, 2216,  202, 1728, 3456, 1006, 2991,  102,
       1790, 1618,  304, 1205, 1654, 3313, 1018, 2186, 3358,  628, 3310,
       1298, 1981, 1149,  516, 1494, 3706,    1, 3584, 1522, 1085, 2942,
       1785,  526, 2059, 2795, 3239,   39, 1107,  371, 2652,  427, 1145,
       2324,  139, 2559,  714, 3582, 2493, 2261, 2203, 1109, 1926, 1278,
       2218, 1983,  573, 2415, 2311, 1955, 1564, 3322, 2224, 2634, 1447,
       1111,  983, 3500, 1925, 1107, 2100, 1440,  852, 1162, 1896, 3304,
       3164,  562, 1109,  864, 1503, 1779, 2174, 2441,   10,  139,  778,
       1189, 3667,  433,  344, 1567, 1796,  308,  832, 1575, 1994,    1,
       2739, 3556, 2766, 1175, 1004, 3239,  951, 2518, 3131,  438,  596,
       2932, 2160, 3092, 1546, 1817,  217, 2502, 1011, 1960, 2243, 2827,
       2899, 2519, 1789, 3181, 1980, 1296,    6, 1989, 1397, 1275, 1125,
        495,  288, 3551, 2333, 1251, 1635, 2184, 1105,  308, 3359, 1161,
       2742, 1149, 3023, 1694, 3135, 1076, 1200,  574, 3480, 3280, 1834,
       1273,  326,  877, 3178, 1375, 2705, 1552,  700, 3352, 3513,  575,
       1849, 2025, 3280, 2014, 3605, 3412, 1010, 1260,  679, 1986, 3274,
        282, 1827, 2179, 2604, 1860,  370,  168, 1459, 2866, 2959, 1189,
        254, 1634, 1177,  280, 2217,  514, 3551, 1832, 2669, 2481, 2173,
         69, 1491, 1745, 1857, 3355, 1935, 1399, 1260, 1095,  803, 1585,
       2910, 3444,  736, 2909, 1130, 1703, 1110, 3511, 1122,  871, 3293,
        994, 2867, 2652,  163, 1704,  341, 1117,  444, 1634,  714, 1395,
       2271, 1200, 2096, 3664,  254, 1121,  633,  576,  107, 3281, 1332,
       1785, 1008, 1744, 3511, 2202, 2238, 2112, 2427,  295, 1224, 2757,
       1216, 1306,  229,  803, 3071, 2862, 2485, 1429, 1179, 1514, 2739,
         69,  577, 3686, 3344, 1970, 2334])>}
Targets:
{'rating': <tf.Tensor: shape=(512,), dtype=float64, numpy=
array([4., 3., 5., 2., 3., 4., 4., 4., 1., 5., 4., 4., 4., 4., 5., 4., 2.,
       4., 5., 4., 3., 5., 5., 5., 5., 2., 5., 2., 4., 1., 4., 4., 3., 4.,
       1., 5., 2., 5., 2., 4., 3., 4., 5., 4., 4., 1., 2., 5., 3., 2., 3.,
       5., 3., 4., 1., 1., 3., 5., 4., 3., 3., 4., 5., 2., 5., 1., 4., 5.,
       4., 4., 5., 4., 4., 2., 4., 1., 3., 3., 4., 4., 4., 3., 3., 5., 4.,
       5., 4., 1., 1., 3., 5., 5., 5., 3., 4., 4., 4., 3., 3., 4., 2., 4.,
       5., 2., 3., 3., 3., 3., 3., 5., 3., 3., 5., 5., 1., 4., 3., 3., 4.,
       4., 4., 4., 4., 3., 5., 3., 4., 3., 1., 4., 4., 5., 3., 4., 2., 3.,
       5., 4., 3., 4., 3., 4., 4., 4., 4., 4., 3., 4., 3., 5., 3., 4., 4.,
       4., 4., 5., 5., 4., 5., 4., 3., 4., 5., 5., 5., 5., 3., 3., 3., 1.,
       2., 4., 4., 4., 5., 3., 3., 5., 2., 3., 3., 3., 3., 5., 4., 4., 4.,
       4., 2., 4., 3., 1., 2., 4., 5., 4., 3., 4., 5., 3., 5., 4., 4., 1.,
       4., 5., 5., 4., 3., 5., 2., 3., 3., 5., 4., 5., 4., 4., 4., 2., 5.,
       2., 3., 4., 3., 4., 2., 4., 5., 3., 4., 5., 4., 3., 5., 3., 3., 4.,
       1., 5., 4., 5., 3., 4., 4., 4., 2., 4., 3., 4., 3., 4., 4., 2., 1.,
       1., 5., 3., 3., 5., 3., 3., 4., 4., 4., 4., 5., 4., 1., 5., 3., 3.,
       3., 5., 1., 5., 4., 5., 4., 5., 4., 5., 4., 4., 4., 3., 4., 3., 4.,
       4., 2., 4., 3., 4., 5., 5., 4., 4., 1., 3., 4., 2., 3., 5., 4., 1.,
       1., 3., 4., 3., 3., 1., 5., 3., 3., 5., 5., 4., 2., 3., 2., 5., 4.,
       1., 5., 5., 3., 3., 3., 1., 4., 1., 4., 5., 3., 1., 2., 1., 3., 4.,
       4., 4., 3., 4., 3., 5., 4., 3., 4., 4., 2., 4., 5., 5., 4., 4., 1.,
       5., 4., 3., 2., 4., 2., 5., 5., 4., 4., 4., 3., 4., 3., 1., 4., 5.,
       5., 3., 5., 3., 4., 1., 4., 4., 3., 4., 5., 5., 4., 4., 5., 5., 4.,
       3., 5., 2., 4., 3., 3., 4., 4., 2., 3., 3., 4., 5., 3., 4., 4., 5.,
       5., 4., 4., 1., 2., 3., 3., 4., 2., 3., 5., 4., 4., 4., 4., 4., 2.,
       5., 4., 4., 4., 4., 3., 5., 3., 3., 3., 4., 3., 4., 5., 3., 4., 1.,
       1., 3., 3., 4., 4., 3., 4., 5., 5., 4., 5., 4., 2., 5., 1., 4., 5.,
       4., 4., 5., 5., 4., 5., 2., 1., 5., 3., 5., 4., 5., 2., 5., 4., 4.,
       4., 3., 3., 1., 5., 4., 2., 3., 5., 4., 3., 4., 3., 4., 3., 3., 2.,
       2., 2., 4., 4., 4., 5., 4., 4., 3., 3., 5., 3., 3., 5., 4., 4., 2.,
       4., 5.])>}

In [25]:
# # Define a function to get the shape of each element in the dataset
# def get_element_shapes(dataset):
#     element_shapes = []
#     for element in dataset:
#         if isinstance(element, dict):
#             shapes = {key: item.shape if hasattr(item, 'shape') else None for key, item in element.items()}
#         elif isinstance(element, tuple):
#             shapes = [item.shape if hasattr(item, 'shape') else None for item in element]
#         else:
#             shapes = element.shape if hasattr(element, 'shape') else None
#         element_shapes.append(shapes)
#     return element_shapes

# # Get the shapes of elements in the training dataset
# train_shapes = get_element_shapes(ds_train)
# val_shapes = get_element_shapes(ds_val)

# # Print the shapes
# total_samples_train = len(ds_train)

# print("Training dataset shapes:", train_shapes)
# print("Validation dataset shapes:", val_shapes)
# number_of_batches = total_samples_train / 512
# print(number_of_batches)
# if len(user_movie_ratings) == len(ds_train) + len(ds_val):
#     print("All data from user_movie_ratings is included in training and validation datasets.")
# else:
#     print("Some data from user_movie_ratings is missing in training or validation datasets.")

Training dataset shapes: [[None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, None], [None, Non

In [32]:
# import numpy as np

# # Assuming user_movie_ratings is your DataFrame
# # If not, replace it with your actual DataFrame name

# # Define the percentage of data to be allocated to the validation set
# val_split_percent = 0.1

# # Get unique user IDs
# unique_users = user_movie_ratings['user_id'].unique()

# # Initialize lists to store data for training and validation sets
# train_data = []
# val_data = []

# # Iterate over unique users
# for user_id in unique_users:
#     # Filter interactions for the current user
#     user_interactions = user_movie_ratings[user_movie_ratings['user_id'] == user_id]
    
#     # Determine the number of interactions to allocate to the validation set
#     num_val_interactions = int(np.ceil(len(user_interactions) * val_split_percent))
    
#     # Randomly shuffle interactions for the current user
#     user_interactions = user_interactions.sample(frac=1, random_state=42)
    
#     # Split interactions into training and validation sets
#     val_data.extend(user_interactions[:num_val_interactions].values.tolist())
#     train_data.extend(user_interactions[num_val_interactions:].values.tolist())

# # Convert lists to DataFrames
# train_df = pd.DataFrame(train_data, columns=user_movie_ratings.columns)
# val_df = pd.DataFrame(val_data, columns=user_movie_ratings.columns)

# # Now, you have properly split your dataset into training and validation sets
# # You can proceed to create TensorFlow datasets from train_df and val_df

# # Now, you have properly split your dataset into training and validation sets using stratified sampling
# if len(user_movie_ratings) == len(train_df) + len(val_df):
#     print("All data from user_movie_ratings is included in training and validation datasets.")
# else:
#     print("Some data from user_movie_ratings is missing in training or validation datasets.")

# batch_size = 512

# def create_tf_dataset(df):
#     x_dict = df.drop(columns=['rating']).to_dict("series")
#     y = df['rating']
#     ds = tf.data.Dataset.from_tensor_slices((x_dict, y))
#     return ds.batch(batch_size)

# ds_train = create_tf_dataset(train_df)
# ds_val = create_tf_dataset(val_df)
# if len(user_movie_ratings) == len(ds_train) + len(ds_val):
#     print("All data from user_movie_ratings is included in training and validation datasets.")
# else:
#     print("Some data from user_movie_ratings is missing in training or validation datasets.")

All data from user_movie_ratings is included in training and validation datasets.
Some data from user_movie_ratings is missing in training or validation datasets.

In [40]:
import numpy as np
import pandas as pd
import tensorflow as tf

def df_to_tfrecord(df, filename):
    with tf.io.TFRecordWriter(filename) as writer:
        for _, row in df.iterrows():
            example = tf.train.Example(features=tf.train.Features(
                feature={
                    'user_id': tf.train.Feature(float_list=tf.train.FloatList(value=[row['user_id']])),
                    'movie_id': tf.train.Feature(int64_list=tf.train.Int64List(value=[int(row['movie_id'])])),
                    'rating': tf.train.Feature(float_list=tf.train.FloatList(value=[row['rating']])),
                    # Add more features as needed
                }
            ))
            writer.write(example.SerializeToString())

def load_tfrecord_dataset(filename, batch_size):
    def parse_tfrecord_fn(example):
        feature_description = {
            'user_id': tf.io.FixedLenFeature([], tf.float32),
            'movie_id': tf.io.FixedLenFeature([], tf.int64),
            'rating': tf.io.FixedLenFeature([], tf.float32),
            # Add more features as needed
        }
        example = tf.io.parse_single_example(example, feature_description)
        return example['user_id'], example['movie_id'], example['rating']

    dataset = tf.data.TFRecordDataset(filename)
    dataset = dataset.map(parse_tfrecord_fn)
    dataset = dataset.batch(batch_size)
    return dataset

# Split the data into train and validation
train_size = int(len(user_movie_ratings) * 0.9)
train_data = user_movie_ratings[:train_size]
val_data = user_movie_ratings[train_size:]

# Convert and save to TFRecord format
df_to_tfrecord(train_data, 'train_data.tfrecord')
df_to_tfrecord(val_data, 'val_data.tfrecord')

# Load TFRecord datasets
batch_size = 32
train_dataset = load_tfrecord_dataset('train_data.tfrecord', batch_size)
val_dataset = load_tfrecord_dataset('val_data.tfrecord', batch_size)

In [44]:
import os
import tensorflow as tf
import pandas as pd

def df_to_tfrecord(df, filename):
    with tf.io.TFRecordWriter(filename) as writer:
        for _, row in df.iterrows():
            example = tf.train.Example(features=tf.train.Features(
                feature={
                    'user_id': tf.train.Feature(float_list=tf.train.FloatList(value=[row['user_id']])),
                    'movie_id': tf.train.Feature(int64_list=tf.train.Int64List(value=[int(row['movie_id'])])),
                    # Add more features as needed
                }
            ))
            writer.write(example.SerializeToString())

def parse_tfrecord_fn(example):
    feature_description = {
        'user_id': tf.io.FixedLenFeature([], tf.float32),
        'movie_id': tf.io.FixedLenFeature([], tf.int64),
        # Add more features as needed
    }
    example = tf.io.parse_single_example(example, feature_description)
    return example['user_id'], example['movie_id']  # Return features and labels

def load_tfrecord_dataset(filename, batch_size):
    dataset = tf.data.TFRecordDataset(filename)
    dataset = dataset.map(parse_tfrecord_fn)
    dataset = dataset.batch(batch_size)
    return dataset

# Split the data into training and validation sets
train_size = int(len(user_movie_ratings) * 0.9)
train_data = user_movie_ratings[:train_size]
val_data = user_movie_ratings[train_size:]

# Convert data to TFRecord format
df_to_tfrecord(train_data, 'train_data.tfrecord')
df_to_tfrecord(val_data, 'val_data.tfrecord')

# Create datasets
batch_size = 32
train_dataset = load_tfrecord_dataset('train_data.tfrecord', batch_size)
val_dataset = load_tfrecord_dataset('val_data.tfrecord', batch_size)

# Model training
train_hist = ncf_model.fit(
    train_dataset,
    validation_data=val_dataset,
    epochs=10,
    verbose=1,
)

Epoch 1/10

ValueError: Layer 'functional_1' expected 2 input(s). Received 1 instead.

In [33]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Assuming ncf_model is your trained NCF model
# Extract the embeddings for movies
movie_embeddings = ncf_model.get_layer('mlp_item_embedding').get_weights()[0]

# Calculate cosine similarity between all pairs of movie embeddings
cosine_similarities = cosine_similarity(movie_embeddings)

# Define a function to get top 10 similar movies for a given movie_id
def get_top_similar_movies(movie_id, movie_data):
    # Get the index of the movie_id in the embeddings
    movie_index = movie_id - 1  # Assuming movie_id starts from 1
    # Calculate similarity scores for all movies
    similarity_scores = cosine_similarities[movie_index]
    # Sort the movies based on similarity scores
    similar_movies_indices = np.argsort(similarity_scores)[::-1][1:11]  # Exclude the movie itself
    # Get the titles of the top 10 similar movies
    similar_movie_titles = movie_data.loc[movie_data['movie_id'].isin(similar_movies_indices + 1), 'title'].values
    return similar_movie_titles

# Example usage:
movie_id = 41 # Example movie_id
top_similar_movie_titles = get_top_similar_movies(movie_id, movie_data)
print("Top 10 similar movies for movie_id", movie_id, ":")
for title in top_similar_movie_titles:
    print(title)

Top 10 similar movies for movie_id 41 :
Better Off Dead... (1985)
Back to the Future Part II (1989)
Saboteur (1942)
Sid and Nancy (1986)
High Plains Drifter (1972)
Time Bandits (1981)
Honeymoon in Vegas (1992)
Man with the Golden Arm, The (1955)
Boys and Girls (2000)
Creature From the Black Lagoon, The (1954)